.header {
  background-color: #200c02;
  padding: 20px;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; /* Adicione um índice z para que o cabeçalho fique acima dos demais elementos */
}

.logo img {
  width: 150px;
  height: auto;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: #ffff;
  text-decoration: none;
  padding: 10px;
}

.nav-links li a:hover {
  color: #000;
  background-color: #ccc;
}

.content {
  margin-top: 10%; /* Altura do cabeçalho */
}