@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.main-home {
  width: 100vw;
  height: 100vh;
  background: #200c02;
  display: flex;
}

.icons-sidebar {
  width: 10vw;
  height: 20vw;
  text-align: center;
  padding: 20px;
  font-size: 110px;
  color: #f85605;
  cursor: pointer;
}
.logo-img {
  cursor: pointer;
}
