@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.page {
  width: 100vw;
  height: 100vh;
  background: #200c02;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
}
.header > h1 {
  margin-left: 100px;
  color: #f85605;
  font-weight: 400;
  font-size: 2vw;
}

.container {
  width: 65vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  padding: 30px 35px;
  background: #4c1d06;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #020100;
}

.container > h1 {
  text-align: center;
  color: #f85605;
  font-weight: 400;
  font-size: 3vw;
}

.box-main {
  width: 100%;
  height: 100%;
  display: flex;
}

.left-card {
  width: 50%;
  height: 90%;
  margin-left: 50px;
}
.right-card {
  width: 50%;
  height: 90%;
}

.left-card > input {
  width: 25vw;
  border: none;
  border-radius: 10px;
  margin-top: 50px;
  padding: 15px;
  background: #463026;
  color: white;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #020100;
  outline: none;
  box-sizing: border-box;
}

.Date_nas {
  position: absolute;
  right: 520px;
  top: 340px;
  color: #f85605;
  margin-right: 100px;
}
.Date_add {
  position: absolute;
  right: 530px;
  top: 440px;
  color: #f85605;
  margin-right: 100px;
}
.Date_Aso {
  position: absolute;
  right: 560px;
  top: 540px;
  color: #f85605;
  margin-right: 100px;
}

.right-card > input {
  width: 25vw;
  border: none;
  border-radius: 10px;
  margin-top: 50px;
  padding: 15px;
  background: #463026;
  color: white;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #020100;
  outline: none;
  box-sizing: border-box;
}

.cadastrar {
  width: 30vw;
  padding: 16px;
  margin: 40px 270px;
  border: none;
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #381503;
  background: #f85605;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #ec5306;
}

.sonda {
  top: 0;
  left: 0;
}

@media only screen and (max-width: 950px) {
  .container {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    height: auto;
    width: 80%;
  }
  .box-main {
    width: 100%;
    height: auto;
  }
}
