@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.main-edit {
  width: 100vw;
  height: 100vh;
  background: #200c02;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-edit {
  width: 70vw;
  margin-top: 20px;
  padding: 20px;
  background: #4c1d06;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #020100;
}

.box-edit > h1 {
  text-align: center;
  color: #f85605;
  font-weight: 400;
  font-size: 3vw;
  margin-bottom: 20px;
}

.info-edit form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-edit label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}

.info-edit input,
.info-edit select {
  width: 25vw;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background: #463026;
  color: white;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #020100;
  outline: none;
}

.info-edit .error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.info-edit button {
  margin-top: 20px;
  height: 5vh;
  width: 40%;
  border: none;
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #381503;
  background: #f85605;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #ec5306;
}

.info-edit button:hover {
  color: #fafafa;
  box-shadow: 10px 10px 20px 15px #050505;
}
.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-column {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinha os elementos à direita */
}
.input-edit{
  margin-top: 5px;
}
