.page-container {
  width: 100vw;
  height: 80vh;
  background-color: #200c02;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  width: 80vw;
  margin-top: 20px;
  padding: 20px;
  background-color: #4c1d06;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #020100;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title h1 {
  color: #f85605;
  font-weight: 400;
  font-size: 3vw;
}

.notification-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.notification-icon {
  color: #f85605;
  font-size: 2rem;
  margin-right: 5px;
}

.notification-count {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f85605;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-left: 5px;
}

.table-container {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  color: #ffffff;
  font-size: 12pt;
}

.table thead th {
  font-weight: bold;
  color: #f85605;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px;
  margin-right: 5px;
}

.pagination button.active {
  background-color: #f85605;
  border-radius: 5px;
}

.notification-button.active .notification-count {
  display: none;
}
