@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.page {
  width: 100vw;
  height: 100vh;
  background: #200c02;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
}
.header > h1 {
  margin-left: 10px;
  color: #f85605;
  font-weight: 400;
  font-size: 2vw;
  cursor: pointer;
}

.container {
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 3% 2%;
  background: #4c1d06;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #020100;
}

.container > h1 {
  text-align: center;
  color: #f85605;
  font-weight: 400;
  font-size: 3vw;
}

.formContainer {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
}

.left-card {
  width: 50%;
  height: 100%;
  margin-left: 5%;
}
.right-card {
  width: 50%;
  height: 100%;
}

.left-card > input {
  width: 25vw;
  border: none;
  border-radius: 10px;
  margin-top: 8%;
  padding: 3%;
  background: #463026;
  color: white;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #020100;
  outline: none;
  box-sizing: border-box;
}

.right-card > input {
  width: 25vw;
  border: none;
  border-radius: 10px;
  margin-top: 8%;
  padding: 3%;
  background: #463026;
  color: white;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #020100;
  outline: none;
  box-sizing: border-box;
}
.bnt-cadastrar {
  width: 30vw;
  height: 5vh;
}

.cadastrar {
  width: 30vw;
  padding: 2%;
  margin: 4% 25%;
  border: none;
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 900;
  color: #381503;
  background: #f85605;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #ec5306;
}
.cadastrar:hover {
  color: #fafafa;
  box-shadow: 10px 10px 20px 15px #050505;
}

span {
  display: inline-block;
  color: red;
}
.icons-sidebar {
  padding: 6% 30%;
  font-size: 110px;
  color: #f85605;
  cursor: pointer;
}
