@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.employee-data {
  background-color: #463026;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 10px 40px #020100;
  font-weight: bold;
}

.postPage {
  width: 100vw;
  height: 100vh;
  background: #200c02;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 3% 2%;
  background: #4c1d06;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #020100;
}
.post > h1 {
  text-align: center;
  color: #f85605;
  font-weight: 550;
  font-size: 3vw;
}

.box-bnt {
  display: flex;
  justify-content: center;
  margin: 10px 15px;
}
.bnt-courses {
  padding: 5%;
  margin: 0px 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 900;
  color: #381503;
  background: #f85605;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #ec5306;
}
.bnt-courses:hover {
  color: #fafafa;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 10px 40px #020100;
}
